.contentBox{
    width: 300.96px;
    background-color: #F9F9F9;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 30px 22px 0 20.46px;
  /*   height: 100%; */
}

.contentBox h1{
    font-size: 24px;
    font-weight: 600;
    color: #031A1E;
}

.contentBox p{
font-weight: 400;
font-size: 14px;
color: #031A1E;
opacity: 0.7;
}


