:root{
    --main_blackColor:#031A1E
}


form{
    color: var(--main_blackColor);
    margin-bottom: 50px;
}

form h4{
    font-weight: 600;
    color: var(--main_blackColor);
    font-size: 17px;
}


/* ABOUT BOX */
.aboutBox{
    color: var(--main_blackColor);
    opacity: 0.7;
    font-size: 14px;
}

.aboutBox p{
    opacity: 0.7;
    margin-bottom: 25px;
}



/* TEXTFIELD LABEL */
 .MuiTextField-root > label{
    font-size: 14px/20px !important;
    color: var(--main_blackColor);
    opacity: 0.7 !important;
}

/* TEXTAREA BOX  */
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root{
    height: 105px !important;
}


.categoryBox p{
    cursor: pointer;
    color: #16A1FF;
}


/* SELECTED BOX */
.categoryBox .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
    color: #16A1FF;
}


/* CHIP STYLES */
.css-16awh2u-MuiAutocomplete-root .MuiAutocomplete-tag{
    background-color: var(--main_blackColor);
     color: rgb(188, 188, 194);
    border-radius: 5px;
    font-size: 14px;
}


/* ICON CHIP */
.iconStyle{
    color: rgb(83, 83, 85) !important;
    font-size: 18px !important;
}

